<h1>Star Wars Films</h1>

<%= form_with(url: "/search", local: true, method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end %>

<ul id="films-listings">
    <% @films.each do |film| %>
        <% film_id = film["url"].gsub(/\D/, "") %>
        <li>
            <%= film["title"] %> 
            <%= link_to "show", film_path(film_id) %>
            <span class="fav-button" onclick="favorited(this.parentNode)">fave</span>
            <span class="fav-button" onclick="filmsList()">fave</span>
        </li>
    <% end %>
</ul>
