<h1><%= "Episode #{@film["episode_id"]}: #{@film["title"]}" %></h1>

<div class=".mx-auto">
    <div class="card">
        <div class="card-body">
            <%= @film["opening_crawl"] %>
        </div>
    </div>
    <h4>Director: </h4>
    <p><%= @film["director"] %></p>
    <h4>Producer: </h4>
    <p><%= @film["producer"] %></p>
    <h4>Release Date: </h4>
    <p><%= @film["release_date"] %></p>
    <h4>Characters:</h4>
    <ul id="characters-listings">
        <% @characters.each do |char| %>
            <li class="char-item">
                <a 
                href="#" data-toggle="tooltip" 
                data-placement="top" 
                title="<%= 
                    'Name:' + ' ' + char["name"] + ' ' +
                    'Height:' + ' ' + char["height"] + ' ' +
                    'Mass:' + ' ' + char["mass"] + ' ' +
                    'Birth Year:' + ' ' + char["birth_year"] + ' ' +
                    'Gender:' + ' ' + char["gender"]
                    %>"
                >
                    <%= char["name"] %>
                </a>
            </li>
        <% end %>
    </ul>
    <p><%= link_to "Go Back", root_path %></p>
</div>
