<h1>Star Wars Films</h1>

<div>
    <p><%= @film["title"] %></p>
    <p><%= @film["episode_id"] %></p>
    <p><%= @film["opening_crawl"] %></p>
    <p><%= @film["director"] %></p>
    <p><%= @film["producer"] %></p>
    <p><%= @film["release_date"] %></p>
    <p>Characters:</p>
    <ul id="characters-listings">
        <% @characters.each do |char| %>
            <li class="char-item">
                <a 
                href="#" data-toggle="tooltip" 
                data-placement="top" 
                title="<%= 
                    'Name:' + ' ' + char["name"] + ' ' +
                    'Height:' + ' ' + char["height"] + ' ' +
                    'Mass:' + ' ' + char["mass"] + ' ' +
                    'Birth Year:' + ' ' + char["birth_year"] + ' ' +
                    'Gender:' + ' ' + char["gender"]
                    %>"
                >
                    <%= char["name"] %>
                </a>
            </li>
        <% end %>
    </ul>
    <p><%= link_to "back", root_path %></p>
</div>
